.filters {
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    &-select{
        width: 20%;
        height: 2rem;
        border-radius: 10px;
        border: solid 1px #acacac;
        font-family: 'Poppins', sans-serif;
        padding-left: 0.5rem;
        font-size: 1.1em;
    }
}