.filters {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    &-select{
        width: 70%;
        height: 2rem;
        border-radius: 10px;
        border: solid 1px #acacac;
        font-family: 'Poppins', sans-serif;
        padding-left: 0.5rem;
        font-size: 1.1em;
    }

    &-excel{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: #009d41;
        color: #fff;
        border: none;
        font-size: 1.2em;
        border-radius: 20px;

        &:hover{
            background-color: #00c452;
            cursor: pointer;
        }
    }
}